header {
  width: 100%;
  margin: 1rem 0 .5rem;
  position: relative;


  // display: flex;
  // justify-content: space-between;
  // align-items: center;

  #closeModal {
    --width: 3rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    // right: 0;
    width: var(--width);
    height: var(--width);
    border: none;
    background-color: #bbb;
    font-size: 1.5rem;
  }

  h1 {
    // display: inline-block;
    font-size: 28px;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }

    span#name {
      display: inline-block;
      font-size: 18px;
      color: #777;
      margin-left: .2em;
    }
  }

  ul {
    list-style: none;
    margin-top: .7em;


    padding: 0;

    display: flex;
    flex-direction: row;
    gap: .75em;

    li {
      a {
        i {
          line-height: 1em !important;
          line-height: 1.25em;
          font-size: 1.4em !important;
          border-radius: 4px;
          color: #555;
        }

        &:hover {
          i {
            // color: #ccc;
            // background-color: #555;
            color: black;
          }
        }
      }
    }
  }
}