header {
  width: 100%;
  margin: 1rem 0;


  // display: flex;
  // justify-content: space-between;
  // align-items: center;

  h1 {
    // display: inline-block;
    font-size: 28px;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }

    span#name {
      display: inline-block;
      font-size: 18px;
      color: #999;
      margin-left: .2em;
    }
  }

  ul {
    list-style: none;
    margin-top: .7em;


    padding: 0;

    display: flex;
    flex-direction: row;
    gap: .75em;

    li {
      a {
        i {
          line-height: 1em !important;
          // padding: 7px;
          border-radius: 4px;
          color: #555;
          font-size: 1.4em !important;
        }

        &:hover {
          i {
            // color: #ccc;
            // background-color: #555;
            color: black;
          }
        }
      }
    }
  }
}