@import "./effects.scss";

section#searchContainer {
  input#searchInput {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #999;
    padding: .45em;
    outline: none;
    margin-bottom: 7.5px;
  }

  ul#tags {
    list-style: none;
    padding: 0;

    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin-block: 5px;

    li.searchTag {
      font-size: .85rem;
      padding: .5em;
      background-color: #d9d9d9;
      user-select: none;

      &:hover {
        cursor: pointer;
      }

      span.count {
        margin-left: 4px;
        font-size: .8rem;
      }
    }
  }
}