@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");

// Default Settings

* {
  color: #444;
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

::selection {
  background-color: #444;
  color: #f5f5f5;
}

html {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

body {
  @extend html;

  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

// Main
@mixin main-common {
  padding: 20px 20px 50px;
  min-height: calc(100% - 70px);
}

@media only screen and (max-width: 800px) {
  main {
    @include main-common;

    width: calc(100% - 40px);
  }
}

@media screen and (min-width: 801px) {
  main {
    @include main-common;

    max-width: 800px;
    margin: 0 auto;


  }

}

// Header

header {
  width: 100%;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    display: inline-block;
    font-size: 28px;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  ul {
    list-style: none;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    gap: 5px;

    li {
      a {
        i {
          line-height: 1em !important;
          padding: 7px;
          border-radius: 4px;
        }

        &:hover {
          i {
            color: #ccc;
            background-color: #555;
          }
        }
      }
    }
  }
}

// Article & Section

@mixin description-margin-bottom {
  margin-bottom: 5px;
}

article {
  section {
    width: 100%;
    // background-color: #e8e8e8;

    // border-radius: 5px;

    display: grid;
    grid-template-columns: 64px 1fr;

    .icon {
      display: flex;

      img {
        --img-width: 55px;
        margin: auto;

        width: var(--img-width);
        height: var(--img-width);
      }
    }

    .description {
      padding-left: 15px;
      max-width: 100%;

      display: flex;
      flex-direction: column;


      p {
        @include description-margin-bottom;
      }

      p.info {
        font-size: 14px;
      }

      p.name {
        font-size: 18px;
        font-weight: 400;
      }

      p.tagContainer {
        display: flex;
      }


      span.tag {
        height: 1.25em;
        background-color: #d9d9d9;
        // color: #f5f5f5;
        padding: .35em;
        font-size: 12px;
      }

      span.moreContainer {
        display: flex;
      }

      a.more {
        // width: 150px;
        // height: 70px;
        margin-top: 5px;
        font-size: 14px;
        // background-color: #d9d9d9;
        background-color: #aaa;
        padding: .4rem 0.7rem;
        text-decoration: none;
        // border-radius: 5px;

        &:hover {
          background-color: #999;
        }

        span,
        i {
          color: #f5f5f5;
        }


      }
    }
  }
}